@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;600;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #f8f5f1;
}

.container {
  width: 100%;

  padding-top: 20px;

  position: relative;

  display: flex;
  justify-content: center;
}

.mainContainer {
  width: 400px;
}

.mainHeader {
  width: 100%;
  height: 100px;

  margin-bottom: 10px;
  padding: 10px;
  top: 20px;

  border: 5px solid #45526c;
  border-radius: 10px;

  background-color: #45526c;
  color: #f8f5f1;
}

.noteList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  list-style: none;
}

.noteItem {
  position: relative;
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;

  border: 2px solid #45526c;
  border-radius: 10px;

  background: #45526c;
  color: white;
}

.noteControlsButton {
  width: 25px;
  height: 25px;
  margin: 5px 0px;

  border-radius: 5px;
  border: 2px solid white;

  cursor: pointer;
  background: #45526c;
  color: white;
}

.noteControlsButton:hover {
  background: white;
  color: #45526c;
}

.noteControlsButton:active {
  background: grey;
  color: white;
}

.noteContent.editing {
  display: flex;
  flex-direction: column;

  resize: none;
  color: #45526c;
}

.noteContent.editing:focus,
.newNoteButton:focus,
.noteControlsButton:focus,
.formInput:focus,
.formButton:focus,
*:focus {
  outline: none;
  box-shadow: 0 0 0 3px #f8a488;
}

.noteContent {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  /* max-width: 360px; */
  /* background-color: #45526c; */
  color: white;
  padding: 10px;
  /* border-top-left-radius: 8px;
  border-bottom-left-radius: 8px; */
  border-radius: 8px;
  flex: 1;
}

.noteItem.editing {
  background-color: white;
}

.noteControls {
  position: sticky;
  top: 10px;
  display: flex;
  flex-direction: column;
  max-height: 100px;
  padding: 0px 5px;
}

.newNoteButton {
  color: #ff8882;
  border: 2px dashed #ff8882;
  border-radius: 10px;
  padding: 10px;
  background: none;
  cursor: pointer;
  font-size: 15px;
}

.newNoteButton:hover {
  color: white;
  background-color: #ff8882;
}

.sidebar {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  position: sticky;
  top: 20px;
  margin-bottom: 10px;
}

.deleteButton:hover {
  background: rgb(248, 110, 110);
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  border: 2px solid #45526c;
  border-radius: 10px;

  background: #45526c;
  color: white;
}

.pageTitle {
  color: #45526c;
  margin-bottom: 10px;
}

.formTip {
  margin: 10px;
  font-size: 15px;
  font-weight: 100;
}

.formTip button {
  color: white;
  font-weight: 400;
  text-decoration: underline;
  cursor: pointer;
  background: none;
  border: none;
}

.formBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
}

.formLabel {
  font-weight: 500;
}

.formInput {
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  border: none;
  font-weight: 400;
  background: rgb(218, 218, 218);
}

.formInput:focus {
  background: white;
}

.formButton {
  padding: 10px;
  border-radius: 10px;
  border: white solid 3px;
  color: white;
  margin: 10px;
  background: #45526c;
}

.formButton:hover {
  cursor: pointer;
  background: white;
  color: #45526c;
}

.userCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #45526c;
  border: 2px solid #45526c;
  border-radius: 10px;
  padding: 10px;
  color: white;
  margin-bottom: 10px;
}

.userName {
  font-weight: 400;
  font-size: 25px;
  margin: 10px;
}

.logoutButton {
  border: 2px solid white;
  padding: 5px;
  background: none;
  border-radius: 10px;
  color: white;
}

.logoutButton:hover {
  cursor: pointer;
  border-color: rgb(255, 137, 137);
  background: rgb(255, 137, 137);
  color: white;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 10px;
  }

  .sidebar {
    width: 100%;
    position: relative;
    margin-right: 0px;
    top: 0px;
  }

  .mainContainer {
    width: 100%;
  }
}
